body {
  font-family: 'Arial', sans-serif;
  /* background-color: #dff6c2; */
  background-image: url('../assets/background.png');
  padding: 20px;
  color: #333;
  background-repeat: no-repeat;
  background-size: 1900px 1000px;
  object-fit: cover;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.card {
  background-color: rgb(217, 201, 238);
  border-radius: 20px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  padding: 30px;
  margin-top: 20px;
  border: 2px solid #85b352;
  position: relative;
  overflow: hidden;
  text-align: left; /* Text alignment inside the card */
  width: 100%; /* Take full width of container */
  max-width: 800px; /* Maximum width */
}

/* .card::before {
  content: "";
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 100px;
  height: 100px;
  opacity: 0.3;
} */

h1 {
  color: #d6305f;
  font-size: 2.5rem;
  margin-bottom: 5px;
  font-family: 'Comic Sans MS', 'Chalkboard SE', sans-serif;
  text-align: left;

}

.subtitle {
  font-size: 1.2rem;
  color: #e26117;
  /* margin-bottom: 25px; */
  text-align: left;

}

p {
  line-height: 1.6;
  font-size: 1.1rem;
  font-family: 'Arial Narrow Bold', sans-serif;
  text-align: left;

}

ul {
  padding-left: 0px;
  text-align: left;
  margin-left: 0;
}

li {
  margin-bottom: 12px;
  position: relative;
  list-style-type: none;
  padding-left: 35px;
  line-height: 1.5;
  font-family: 'Verdana', 'Geneva', sans-serif;
  font-size: 1.1rem;
  text-align: left;

}

li::before {
  content: "🐾";
  position: absolute;
  left: 0;
  color: #558b2f;
  font-size: 1.2em;
  text-align: left;

}

.cta-button {
  background-color: #ff7700;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1.1rem;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease;
  font-weight: bold;
  box-shadow: 5px 4px 8px rgba(201, 51, 51, 0.1);
}

.cta-button:hover {
  background-color: #00b4e6;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}